<%= form_with(model: kitten) do |form| %>
  <%= form.label :name, 'Name' %>
  <%= form.text_field :name %><br>
  <%= form.label :age %>
  <%= form.select :age, (0..25), { prompt: 'age' } %><br>
  <%= form.label :cuteness %>
  <%= form.select :cuteness, (0..10), { prompt: 'cuteness' } %><br>
  <%= form.label :softness %>
  <%= form.select :softness, (0..10), { prompt: 'softness' } %>

  <% if kitten.errors.any? %>
    <div style="color: red">
      <ul>
        <% kitten.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
