<p style="color: green"><%= notice %></p>

<p>Name: <%= @kitten.name %></p>
<p>Age: <%= @kitten.age %></p>
<p>Cuteness: <%= @kitten.cuteness %></p>
<p>Softness: <%= @kitten.softness %></p>

<div>
  <%= link_to "Edit this kitten", edit_kitten_path(@kitten) %> |
  <%= link_to "Home", root_path %>

  <%= button_to "Destroy this kitten", @kitten, method: :delete %>
</div>
